<div class="ads">
    <div class="thegoogleads">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 文章底部 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8664702567771317"
             data-ad-slot="9616275699"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>