{{ define "main" }}
{{- partial "header.html" . -}}
<div id="wrapper">
  {{ with .Site.GetPage "page" "extend/about.md" }}
  <div class="blogdetail">
    <header>
      <h2>{{ .Title }}</h2>
    </header>
    <div class="blogcontent">
      {{ .Content }}
    </div>
  </div>
  {{ else }}
  <div class="blogdetail">
    <header>
      <h2>{{ $.Site.Title }}</h2>
    </header>
    <div class="blogcontent">
      <p>about page not found: content/extend/about.md</p>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
