@font-face {
  font-family: 'jetbrainfont';
  src: url('webfont/eot/JetBrainsMono-Regular.eot');
  src: url('webfont/eot/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
       url('webfont/woff/JetBrainsMono-Regular.woff') format('woff'),
   url('webfont/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'jinkaifont';
  src: url('webfont/ttf/jinkai.ttf') format('truetype');
}
* {
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  font-family: "jinkaifont","jetbrainfont", -apple-system,"pingfang sc",Arial,"microsoft yahei",poppins,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  word-break: break-word;
}
.dark {
  background: #1d1e20;
}
a {
  color: #58A6FF;
  text-decoration: none;
}
del {
  color: #3c3c3c;
}
.nav, .foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(720px + 24px * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
  line-height: 60px;
  padding: 24px;
}
.nav a.sitetitle {
  color: rgba(255,255,255,0.8);
  font-size: 1.8em;
  font-weight: 700;
}
.nav .menu a {
  color: rgba(255,255,255,0.8);
  font-size: 1.1em;
  margin: 0 8px;
}
#wrapper {
  position: relative;
  min-height: calc(100vh - 120px);
  max-width: calc(720px + 24px * 2);
  margin: auto;
  padding: 24px;
  color: rgba(255,255,255,0.6);
}
#wrapper p {
  line-height: 32px;
  display: block;
  margin: 5px 0; 
}
.bloglist, .blog-item, .projectlist, .project-item {
  list-style: none;
}
.bloglist dt h3 {
  margin-top: 20px;
  font-size: 20px;
  
}
.blog-item {
  margin: 11px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.projectsgroup {
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start
}
.project-item {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  padding: 0 18px;
  margin: 5px 8px 5px 0;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
}
.projectlist-item {
  margin: 11px 0 30px;
}
.blog-item time, span.summary {
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  color: rgba(255,255,255,0.6);
}
.blogdetail {
  color: rgba(255,255,255,0.6);
}
.blogdetail time {
  display: block;
  font-size: 15px;
  margin: 11px 0;
}
.blogdetail .blogcontent p, .releated-posts {
  line-height: 32px;
  display: block;
  margin: 5px 0;
}
.blogdetail .blogcontent h3, .blogdetail .blogcontent h4 {
  line-height: 120%;
  color: rgba(255,255,255,0.85);
  margin: 22px 0 22px 0;
} 
.blogdetail .blogcontent p img {
  border-radius: 4px;
  display: block;
  max-width: 100%;
}
.blogdetail .break-line {
  border: 1px dashed rgba(255,255,255,0.2);
  margin: 2em 0;
}
.blogdetail ol, .blogdetail ul {
  padding-left: 1em;
}
#versions a {
  background: rgba(255,255,255,0.6);
  color: rgba(255,255,255,0.6);
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 2px;
}
table {
  width: 100%;
  border-spacing: 1px;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12) inset;
}
th, td {
  padding: .5em 1em;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12);
}
tr:hover, tr:nth-child(odd) td {
  background: rgba(142, 142, 145, 0.04);
}
:not(pre) > code {
  font-size: .9em;
  background: #555555;
  opacity: .9;
  border-radius: 2px;
  margin: 0 .1em;
  padding: .2em .4em;
}
pre {
  background: #555555;
  border-radius: 2px;
  font-size: 1em;
  margin: 1.5em 0;
  padding: .8em 1em;
  overflow-x: auto;
}
.highlight pre {
  margin: 0.2em 0;
  padding: 0.3em 0.2em;
}
.soflist dt {
  margin-bottom: 22px;
}
.sof {
  position: relative;
  margin-bottom: 24px;
  padding: 24px;
  background: #2e2e33;
  border-radius: 8px;
  transition: transform .1s;
  border: 1px solid #333;
}
.sof .sof-content p {
  color: rgba(255,255,255,0.72);
  margin-bottom: 20px;
}
.sof .sof-content p a {
  color: rgba(225,225,225,0.6);
  text-decoration: underline;
}
.sof .sof-content img {
  border-radius: 4px;
  display: block;
  max-width: 100%;
}
.sof .sof-content ul, .sof .sof-content dl, .sof .sof-content ol {
  margin-left: 15px;
}
.sof time {
  font-size: 13px;
  color: rgba(255,255,255,0.6);
}
ul.pagination {
  margin: 60px auto;
}
ul.pagination li {
  list-style: none;
  float: left;
}
ul.pagination li.nextpage {
  list-style: none;
  float: right;
}
ul.pagination li a.page-link {
  background: #2e2e33;
  padding: 10px 15px;
  border-radius: 4px;
}
ul.pagination li a {
  color: rgba(255,255,255,0.6);
  font-size: 12px;
}
.mod_404 .wrapper a {
  color: rgba(255,255,255,0.6);
}
.skeywords {
  border: 1px solid #fff;
  height: 44px;
  line-height: 44px;
  text-indent: 5px;
}
input[type=submit] {
  height: 44px;
  width: 80px;
  line-height: 44px;
}
.intro {margin: 80px auto 0;color: rgba(255,255,255,0.8)}
.intro img.logo {
  margin-bottom: 50px;
  width: 180px;
  height: 180px;
  border-radius: 90px;
}
.intro h1{font-size:32px;}
.intro h3 {margin: 6px auto 32px;}
.intro p.name{margin:30px 0;font-weight:400;}
.bottomspace {margin-bottom: 60px;}
.tag {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.6);
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 1px;
}
h2, h3 {
  color: rgba(255,255,255,0.8);
}
#fastSearch {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
  z-index: 999;
}

#fastSearch input {
  width: 90%;
  margin: 144px auto 20px;
  padding: 12px 4px;
  font-size: 1em;
  color: #58A6FF;
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px;
  border: none;
  outline: none;
  text-align: left;
  display: block;
}

#fastSearch ul {
  padding: 0px;
  list-style: none;
}

#searchResults li {
  list-style: none;
  margin-left: 0em;
}

#searchResults li .title {
  font-size: .9em;
  margin: 0;
  display: inline-block;
}

#searchResults {
  visibility: inherit;
  display: block;
  width: 90%;
  margin: 0 auto;
  max-height: calc(100vh - 120px);
  overflow: hidden;
}

#searchResults a {
  text-decoration: none !important;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
}

#searchResults a:hover, #searchResults a:focus {
  outline: 0;
  background-color: rgba(255,255,255,0.6);
  color: #fff;
}
.social a {
  margin-right: 10px;
}
@media screen and (max-width: 750px) {
  .nav .menu a:first-child {
    color: rgba(255,255,255,.8);
    font-size: 1.1em;
    margin-left: 0;
  }
}
