{{ define "main" }}

<div class="intro">
    {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.homeSection) }}
    {{ range $paginator.Pages.ByPublishDate.Reverse }}
      <h2 class="post-list {{ if ne .Params.show_summary false }}summary{{ end }}">
          {{ .Title }}
      </h2>
      {{ .Content }}
    {{ end }}

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
        {{ range $paginator.Pages }}
            {{ .Render "summary" }}
        {{ end }}
    {{ partial "paginator" . }}
  {{ end }}
</div>

{{ end }}