{{ define "main" }}
{{- partial "header.html" . -}}
  <div id="wrapper">
  {{ if eq .Type "projects" }}
    <dl class="projectlist">
      <dt><h2>产品</h2></dt>
      {{ range (where site.RegularPages "Type" "projects") }}
        <dd class="project-item">
          <a href="{{ .Permalink }}">{{.Title}}</a>: <span class="summary">{{ .Summary }}</span>
          {{ with .Params.tags }}
              {{ range . }}
                <span class="tag">{{ . }}</span>
              {{ end }}
          {{ end }}
          
        </dd>
      {{ end }}
  </dl>
{{ else }}
  <dl class="bloglist">
    <dt><h2>博客</h2></dt>
      {{ range (where site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      <dd class="blog-item">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
        <a href="{{ .Permalink }}">{{.Title}}</a>
      </dd>
      {{ end }}
  </dl>
{{ end }}
</div>
{{ end }}