{{ define "main" }}
{{- partial "header.html" . -}}
  <div id="wrapper">
  {{ if eq .Type "projects" }}
    <dl class="projectlist">
      <dt><h2>产品</h2></dt>
      {{ range (where site.RegularPages "Type" "projects") }}
        <dd class="projectlist-item">
          <div class="ptitle"><a href="{{ .Permalink }}">{{.Title}}</a></div>
          <span class="summary">{{ .Summary }}</span>
          <div class="tags">
            {{ with .Params.tags }}
                {{ range . }}
                  <span class="tag">{{ . }}</span>
                {{ end }}
            {{ end }}
          </div>
        </dd>
      {{ end }}
  </dl>
{{ else }}
  <dl class="bloglist">
    <dt><h2>博客</h2></dt>
      {{ range (where site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      <dd class="blog-item">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
        <a href="{{ .Permalink }}">{{.Title}}</a>
      </dd>
      {{ end }}
  </dl>
{{ end }}
</div>
{{ end }}